<div>
	<%- include('../app/sidebar') %>
	<%- include('../app/navbar') %>
	<%- include('../app/snackbar') %>
	<%- include('../app/loading') %>

	<%- include('body-page') %>
	<%- include('avatar') %>
	<%- include('cover') %>
	<%- include('floating-button') %>
	<%- include('follow-button') %>
	<%- include('social-links') %>
	<%- include('movie-modal') %>
	<%- include('serie-modal') %>
	<%- include('book-modal') %>
	<%- include('attach-user') %>
	<%- include('game-modal') %>
	<%- include('maindrag') %>

	<%- include('basic-infos/modal') %>
	<%- include('basic-infos/routines') %>
	<%- include('basic-infos/edit') %>
	<%- include('basic-infos/edit-youtube') %>
	<%- include('basic-infos/edit-twitter') %>

	<%- include('editor/modal') %>
	<%- include('editor/types/wiki') %>
	<%- include('editor/types/books') %>
	<%- include('editor/types/movies') %>
	<%- include('editor/types/games') %>
	<%- include('editor/types/videos') %>
	<%- include('editor/types/featured-video') %>
	<%- include('editor/types/channels') %>
	<%- include('editor/types/playlists') %>
	<%- include('editor/types/lives') %>
	<%- include('editor/types/title') %>
	<%- include('editor/types/feeds') %>
	<%- include('editor/types/series') %>
	<%- include('editor/types/featured-pages') %>
	<%- include('editor/types/categories') %>

	<%- include('templates/wiki/fullinfo') %>
	<%- include('templates/wiki/summary') %>
	<%- include('templates/books') %>
	<%- include('templates/movies') %>
	<%- include('templates/games') %>
	<%- include('templates/videos') %>
	<%- include('templates/featured-video') %>
	<%- include('templates/channels') %>
	<%- include('templates/playlists') %>
	<%- include('templates/facebook') %>
	<%- include('templates/spotify') %>
	<%- include('templates/twitter') %>
	<%- include('templates/title') %>
	<%- include('templates/lives') %>
	<%- include('templates/feeds') %>
	<%- include('templates/series') %>
	<%- include('templates/featured-pages') %>
	<%- include('templates/categories') %>
	<%- include('templates/instagram') %>
	<%- include('templates/instagram-midia') %>

	<%- include('templates/tabs/playlists') %>
	<%- include('templates/tabs/videos') %>
	<%- include('templates/tabs/books') %>
	<%- include('templates/tabs/channels') %>
	<%- include('templates/tabs/movies') %>
	<%- include('templates/tabs/games') %>
	<%- include('templates/tabs/lives') %>
	<%- include('templates/tabs/instagram') %>
</div>
